.body{
    margin: 0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing:border-box ;

}
.hero{
    width:100%;
    min-height: 100vh;
    background: linear-gradient(45deg,#230f49,#150720);
    color:#ffff;

}
.container{
    width:800px;
    height: 180px;
    position: absolute;
    top:50%;
    left:50%;

    transform:translate(-50%,-50%);
    background: #d0f89c;
  
    
}
.clock{
    width:100%;
    height:100%;
    background: #d4af27;;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
 backdrop-filter:blur(10px);


}

.container::before{
    content:'';
    width:180px;
    height:180px;
    background-color:#C8CBD4 ;
    border-radius: 5px;
    position:absolute;
    left: -50px;
    top: -50px;
    z-index:-1;

    
}
.container::after{
    content:'';
    width:180px;
    height:180px;
    background-color:#f52c57 ;
    border-radius: 50%;
    position:absolute;
    right: -100px;
    top:-50px;
    z-index:-1;

}

.clock span{
    font-size: 80px;
    width:110px;
    display: inline-block;
    text-align: center;
    position: relative;
        
    
}
.clock span::after{
    
    font-size: 11px;
    position:absolute;
    bottom:-5px;
    left:50%;
    transform:translate(-50%)

}
#seconds::after{
    content:'Seconds';

}
#minute::after{
    content:'Minute';
    
}
#hour::after{
    content:'Hour';
    
}
#ampm::after{
    content:'AM/PM';
}